<div class="auth-card" [formGroup]="form">
  <h2>Authentification</h2>

  <form (ngSubmit)="submit()" novalidate>

    <div class="field">
      <label for="email">Email</label>

      <input id="email"
             type="email"
             formControlName="email"
             [class.invalid]="(form.controls.email.touched || form.controls.email.dirty) 
                               && form.controls.email.invalid" />

      @if ((form.controls.email.touched || form.controls.email.dirty) 
           && form.controls.email.errors) {
        @let e = form.controls.email.errors;

        <small class="error" aria-live="polite">
          @if (e['required']) {
            <span>Email obligatoire.</span>
          }
          @if (e['email']) {
            <span>Format d'email invalide.</span>
          }
        </small>
      }
    </div>

    <div class="field">
      <label for="password">Mot de passe</label>

      <input id="password"
             type="password"
             formControlName="password"
             [class.invalid]="form.controls.password.touched 
                              && form.controls.password.invalid" />

      @if (form.controls.password.touched && form.controls.password.errors) {
        @let e = form.controls.password.errors;

        <small class="error" aria-live="polite">
          @if (e['required']) {
            <span>Mot de passe obligatoire.</span>
          }
          @if (e['minlength']) {
            <span>Au moins 4 caractères.</span>
          }
        </small>
      }
    </div>

    <button type="submit" [disabled]="form.invalid">Envoyer</button>
  </form>
</div>
